* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
.content {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.content img {
  height: 80vh;
  object-fit: cover;
  display: block;
}
